<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploads</title>
</head>
<body>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <!-- <label for="uploadFile">Choose File</label> -->
        <input type="file" id="uploadFile" name="profileImage"/>
        <input type="file" id="upload" name="anotherImage"/>
        <input type="text" name="username" placeholder="Your Name" />
        <button type="submit">Upload</button>
    </form>
</body>
</html>